* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Author", sans-serif;
}

#thirdCircle {
  height: 100%;
  width: 100%;
}
.orangeWrapper {
  height: 130vh;
}
.image {
  height: 100%;
  width: 100%;
}
